.description-text {
  font-size: 13px;
  color: rgb(70, 63, 63);
  margin-bottom: 7px;
  font-family: proxima-nova;
}
.description-text-1 {
  font-size: 15px;
  color: black;
  font-family: proxima-nova;
  font-weight: 600;
}
.description-text-2 {
  font-size: 15px;
  color: rgb(94, 83, 83);
  font-family: proxima-nova;
  font-weight: 600;
}
.description-text-3 {
  font-size: 15px;
  color: black;
  font-family: proxima-nova;
  font-weight: 600;
}
.description-text-4 {
  font-size: 13px;
  color: black;
  font-family: proxima-nova;
  font-weight: 600;
  margin-left: 20px;
}
.coupon-tag {
  margin-top: -3px;
}

.col-lg-3discount {
  width: 16%;
}
.col-lg-1hypen {
  width: 1%;
}

.purchaseComponentMargin1 {
  margin-top: 32px;
}
.purchaseComponentMargin2 {
  /* overflow: hidden; */
  margin-top: 32px;
}
.PKmobileComponent {
  margin-top: 7em;
}
.PKcheckBoxAccept {
  margin-top: -0.2em !important;
  margin-left: -13px !important;
}

.totalPanel {
  background: #e8e0dd;
  margin-top: 16px;
  padding: 16px;
  font-family: proxima-nova;
  /* width: 65vw; */
  width: 65vw;
}
.totalPanel-1 {
  background: #241f20;
  padding: 16px;
  font-family: proxima-nova;
  /* width: 65vw; */
  width: 65vw;
}

.subTotalText {
  font-size: 19px;
}
.subTotalText-1 {
  font-size: 24px;
  color: white;
}
.subTotalMoney {
  font-size: 20px;
  text-align: right;
}
.subTotalMoney-1 {
  font-size: 24px;
  text-align: right;
  color: white;
}
.totalText {
  font-size: 16px;
}
.totalMoney {
  font-size: 16px;
  text-align: right;
}
.totalResultPanel {
  background: #241f20;
  padding: 16px;
  font-family: proxima-nova;
  width: 65vw;
}
.ResultText {
  font-size: 24px;
  color: white;
}
.ResultMoney {
  font-size: 24px;
  color: white;
  text-align: right;
}
.totalSubText {
  margin-top: 12px;
  color: #241f20;
  font-size: 12px;
  /* width: 65vw; */
  width: 1248px;
  font-family: proxima-nova !important;
}
.paymentHead {
  color: #085250;
  font-family: proxima-nova;
  font-size: 28px;  
  font-weight: 500;
  margin-top: 16px;
}
.purchaseInputMargin {
  margin-bottom: 16px;
  margin-top: 16px;
}
.purchaseInputMargin1 {
  margin-bottom: 16px;
  margin-top: 16px;
}
.purchasehead3 {
  color: grey;
  font-family: proxima-nova;
  font-size: 16px;
  margin-bottom: 12px;
  text-wrap: nowrap;
}
.purchasehead4 {
  color: grey;
  font-family: proxima-nova;
  font-size: 16px;
  margin-bottom: 12px;
  margin-left: 45px !important;
  text-wrap: nowrap;
}
.purchaseInput {
  border-width: 1px;
  border-color: #d8c5a6 !important;
  border-radius: 0 !important;
  width: 90% !important;
  height: 56px !important;
  margin-bottom: 8px;
  margin-top: 8px !important;
  font-family: proxima-nova !important;
  font-weight: 600 !important;
}
.purchaseInput:focus {
  border-color: #d8c5a6 !important;
  outline: none !important;
  border-color: #d8c5a6 !important;
  box-shadow: 0 0 10px #d8c5a6 !important;
}
.purchaseRed {
  border-width: 1px;
  border-color: red !important;
  border-radius: 0 !important;
  width: 90% !important;
  height: 56px !important;
  margin-bottom: 8px;
  margin-top: 8px !important;
  font-family: proxima-nova !important;
  font-weight: 600 !important;
}

.purchaseRed:focus {
  border-color: red !important;
}
.errorMes {
  font-size: 12px;
  color: red;
  font-family: proxima-nova;
  width: 372px;
}
.successMes {
  color: green;
}
.errorMesCVV {
  font-size: 12px;
  color: red;
  font-family: proxima-nova;
  width: 372px;
  margin-left: 45px !important;
}
.form-control:focus {
  border-color: none;
  box-shadow: none;
}
.purchaseInput1 {
  border-width: 1px;
  border-color: #d8c5a6 !important;
  border-radius: 0 !important;
  width: 100% !important;
  height: 56px !important;
  margin-bottom: 8px;
  margin-top: 8px !important;
}
.purchaseInput1:focus {
  border-color: #d8c5a6 !important;
  outline: none !important;
  border-color: #d8c5a6 !important;
  box-shadow: 0 0 10px #d8c5a6 !important;
}
.purchaseRed1 {
  border-width: 1px;
  border-color: red !important;
  border-radius: 0 !important;
  width: 100% !important;
  height: 56px !important;
  margin-bottom: 8px;
  margin-top: 8px !important;
}
.purchaseRed1:focus {
  border-color: red !important;
}
.billingAddressoffset {
  margin-left: 0;
  margin-top: 16px;
  margin-bottom: 160px;
}
.billingHead {
  font-family: proxima-nova;
  margin-top: 16px;
  font-size: 16px;
  color: #241f20;
}
.acceptBillingAddress {
  margin-top: 8px;
  font-weight: bold;
}
.billingText {
  color: #000000;
  font-family: proxima-nova;
  font-size: 18px;
  font-weight: 500;
}
.purchaseInput2 {
  border-width: 1px;
  border-color: #d8c5a6 !important;
  border-radius: 0 !important;
  width: 100% !important;
  height: 56px !important;
  margin-bottom: 8px;
  margin-left: 45px !important;
  margin-top: 8px !important;
}
.purchaseInput2:focus {
  border-color: #d8c5a6 !important;
  outline: none !important;
  border-color: #d8c5a6 !important;
  box-shadow: 0 0 10px #d8c5a6 !important;
}
.purchaseRed2 {
  border-width: 1px;
  border-color: red !important;
  border-radius: 0 !important;
  width: 100% !important;
  height: 56px !important;
  margin-bottom: 8px;
  margin-left: 45px !important;
  margin-top: 8px !important;
}
.purchaseRed2:focus {
  border-color: red !important;
}

@media only screen and (max-width: 768px) {
  .purchaseInput2 {
    border-width: 1px;
    border-color: #d8c5a6 !important;
    border-radius: 0 !important;
    width: 246px !important;
    height: 56px !important;
    margin-bottom: 8px;
  }
  .purchaseInput2:focus {
    border-color: #d8c5a6 !important;
    outline: none !important;
    border-color: #d8c5a6 !important;
    box-shadow: 0 0 10px #d8c5a6 !important;
  }
  .purchaseRed2 {
    border-width: 1px;
    border-color: red !important;
    border-radius: 0 !important;
    width: 246px !important;
    height: 56px !important;
    margin-bottom: 8px;
  }
  .purchaseRed2:focus {
    border-color: red !important;
  }
  .billingAddressoffset {
    margin-left: 0;
    margin-top: 16px;
    margin-bottom: 160px;
  }
  .purchaseInputMargin1 {
    margin-bottom: 16px;
    margin-top: 8px;
    margin-left: 0;
  }
  .desktopViewMarginLeft {
    margin-left: 0;
  }
  .purchaseComponentMargin1 {
    margin-top: 32px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .purchaseComponentMargin2 {
    /* overflow: hidden; */
    margin-top: 32px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .totalPanel {
    background: #e8e0dd;
    margin-top: 16px;
    padding: 16px;
    font-family: proxima-nova;
    width: 80vw;
  }
  .totalPanel-1 {
    background: #241f20;
    padding: 16px;
    font-family: proxima-nova;
    width: 80vw;
  }
  .totalResultPanel {
    background: #241f20;
    padding: 16px;
    font-family: proxima-nova;
    width: 80vw;
  }
  .totalSubText {
    margin-top: 12px;
    color: #241f20;
    font-size: 12px;
    /* width: 65vw; */
    width: 80vw;
  }
}
@media only screen and (max-width: 550px) {
  .mod-price-1 {
    width: 80%;
    padding-left: 5%;
  }
  .mod-price-2 {
    width: 20%;
  }
  .coupon-tag {
    margin-top: -3px;
  }

  .col-lg-3discount {
    width: 23%;
  }
  .col-lg-1hypen {
    width: 1%;
  }

  .description-text {
    font-size: 10px;
    width: 95%;
    margin-bottom: 10px;
  }

  .description-text-1 {
    font-size: 14px;
    color: black;
    font-family: proxima-nova;
    font-weight: 600;
    margin-right: 20px;
  }
  .description-text-2 {
    font-size: 14px;
    color: rgb(94, 83, 83);
    font-family: proxima-nova;
    font-weight: 600;
    margin-left: 15px;
  }
  .description-text-3 {
    font-size: 13px;
    color: black;
    font-family: proxima-nova;
    font-weight: 600;
  }
  .billingText {
    font-size: 14px;
  }
  .description-text-4 {
    font-size: 13px;
    color: black;
    font-family: proxima-nova;
    font-weight: 600;
    margin-left: 20px;
    width: 100%;
  }

  .purchaseInput {
    border-width: 1px;
    border-color: #d8c5a6 !important;
    border-radius: 0 !important;
    width: 90vw !important;
    height: 56px !important;
    margin-bottom: 8px;
  }
  .purchaseInput:focus {
    border-color: #d8c5a6 !important;
    outline: none !important;
    border-color: #d8c5a6 !important;
    box-shadow: 0 0 10px #d8c5a6 !important;
  }
  .purchaseRed {
    border-width: 1px;
    border-color: red !important;
    border-radius: 0 !important;
    width: 90vw !important;
    height: 56px !important;
    margin-bottom: 8px;
  }

  .purchaseRed:focus {
    border-color: red !important;
  }
  .purchaseInput1 {
    border-width: 1px;
    border-color: #d8c5a6 !important;
    border-radius: 0 !important;
    width: 40vw !important;
    height: 56px !important;
    margin-bottom: 8px;
  }
  .purchaseInput1:focus {
    border-color: #d8c5a6 !important;
    outline: none !important;
    border-color: #d8c5a6 !important;
    box-shadow: 0 0 10px #d8c5a6 !important;
  }
  .purchaseRed1 {
    border-width: 1px;
    border-color: red !important;
    border-radius: 0 !important;
    width: 40vw !important;
    height: 56px !important;
    margin-bottom: 8px;
  }
  .purchaseRed1:focus {
    border-color: red !important;
  }
  .purchaseInput2 {
    border-width: 1px;
    border-color: #d8c5a6 !important;
    border-radius: 0 !important;
    width: 168px !important;
    height: 56px !important;
    margin-bottom: 8px;
  }
  .purchaseInput2:focus {
    border-color: #d8c5a6 !important;
    outline: none !important;
    border-color: #d8c5a6 !important;
    box-shadow: 0 0 10px #d8c5a6 !important;
  }
  .purchaseRed2 {
    border-width: 1px;
    border-color: red !important;
    border-radius: 0 !important;
    width: 168px !important;
    height: 56px !important;
    margin-bottom: 8px;
  }
  .purchaseRed2:focus {
    border-color: red !important;
  }
  .billingAddressoffset {
    margin-left: 0;
    margin-top: 16px;
    margin-bottom: 160px;
  }
  .mobileMMYY {
    width: 32vw;
  }
  .mobileCVV {
    width: 50vw;
  }
  .mobileTotalTitle {
    width: 88px;
  }
  .mobileTotalValue {
    width: 80px;
    text-align: right;
  }
  .mobileTotalPanel {
    width: 368px;
  }
  .subTotalText {
    font-size: 15px;
  }
  .subTotalText-1 {
    font-size: 17px;
  }
  .subTotalMoney {
    font-size: 16px;
    text-align: right;
    margin-left: -15vw;
  }
  .subTotalMoney-1 {
    font-size: 17px;
    text-align: right;
    margin-left: -15vw;
    color: white;
  }
  .totalText {
    font-size: 12px;
  }
  .totalMoney {
    font-size: 12px;
    text-align: right;
  }
  .ResultText {
    font-size: 17px;
    color: white;
  }
  .ResultMoney {
    font-size: 17px;
    color: white;
    text-align: right;
  }
  .paymentHead {
    font-family: proxima-nova;
    font-size: 22px;
    font-weight: 500;
    margin-top: 32px;
  }
  .totalPanel {
    background: #e8e0dd;
    margin-top: 16px;
    padding: 16px;
    font-family: proxima-nova;
    width: 90vw;
  }
  .totalPanel-1 {
    background: #241f20;
    padding: 16px;
    font-family: proxima-nova;
    width: 90vw;
  }
  .totalResultPanel {
    background: #241f20;
    padding: 16px;
    font-family: proxima-nova;
    width: 90vw;
  }
  .PKcheckBoxAccept {
    margin-top: -0.2em !important;
    margin-left: -11px !important;
  }
}
@media (max-width: 360px) and (min-width: 290px) {
  .description-text {
    font-size: 10px;
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (max-width: 375px) and (min-width: 361px) {
  .description-text {
    font-size: 10px;
    width: 95%;
    margin-bottom: 10px;
  }
}
@media (max-width: 411px) and (min-width: 376px) {
  .description-text {
    font-size: 10px;
    width: 85%;
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) and (min-width: 411px) {
  .description-text {
    font-size: 10px;
    width: 87%;
    margin-bottom: 10px;
  }
}
.couponCodeApplyButton,
.couponCodeApplyButton:disabled {
  background-color: black;
  border: 0;
  color: white;
  font-family: "proxima-nova";
  height: 56px !important;
}

.couponCodeApplyButton:disabled {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: not-allowed;
}
