.fontOswald {
  font-family: oswald;
  font-size: 1.2em;
}
.LogoIcon {
}
.arrowIcon3 {
  margin-top: 0.3em;
  text-align: right;
  padding-right: 0.5em;
}
.headerMarginTop {
  padding-top: 20px;
  padding-bottom: 10px;
}
.stepperMarginTop {
  margin-top: 15px;
}
.Home-step-1 {
  border: 0px solid white;
  font-color: black;
  border-radius: 0%;
}
.MuiStepIcon-root-53.MuiStepIcon-active-54 .MuiStepIcon-text-54 {
  fill: #034691 !important;
}
.HomeContainer {
  padding-bottom: 60px;
}
.HomeBackButton {
  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  .mobileMargin {
    margin-bottom: 10vh;
    margin-left: -5vw;
  }
  .mobileStep {
    margin-left: 10vw;
  }
  .mobileStepHead {
    margin-left: 15vw;
    font-size: 3vh;
    font-family: oswald;
    font-weight: 400;
  }
}
