.loader {
  z-index: 1;
  position: absolute;
  bottom: 50%;
  right: 50%;
}
.pkLoader {
  z-index: 1;
  position: absolute;
  top: 28%;
  right: 50%;
}

.fontOswald {
  font-family: oswald;
  font-size: 18px;
  cursor: pointer;
}
.fontOswald1 {
  font-family: oswald;
  font-size: 50px;
}
.arrowIcon3 {
  margin-top: 5px;
  text-align: right;
  padding-right: 8px;
  cursor: pointer;
}
.arrowIcon3 svg {
  width: 35px;
  height: 80px;
}
.headerMarginTop {
  padding-top: 20px;
  padding-bottom: 10px;
  background: #F7EDE4;
}

.stepperMarginTop {
  margin-top: 30px;
  width: 60%;
  margin-left: 6% !important;
}


@media (max-width: 1199px) {
  .fontOswald {
    font-size: 15px;
  }
  .MuiStepper-horizontal {
    padding-right: 0 !important;
  }
}

@media (max-width: 991px) {
  .LogoIcon {
    text-align: center;
  }
  .stepperMarginTop {
    margin-top: 0;
    width: 100%;
    margin-left: 0% !important;
  }
  .MuiStepper-root {
    padding: 15px 0 15px 0 !important;
  }
  .arrowIcon3 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .arrowIcon3 {
    text-align: left;
  }
  .HomeContainer {
    padding-left: 20px;
    overflow: hidden;
  }
  .stepperMarginTop {
    margin-top: 0;
    width: 100%;
    margin-left: 0% !important;
  }
}

@media (max-width: 640px) {
  .fontOswald {
    font-size: 13px;
  }
}
@media (max-width: 567px) {
  .headerMarginTop {
    background: transparent !important;
  }
  .stepperMarginTop {
    display: none;
  }
  .btm-list-blk {
    padding-top: 30px;
    padding-bottom: 200px;
    margin-top: 30px;
    background: rgb(232, 224, 221);
    margin-left: -20px;
    margin-right: -15px;
    padding-left: 10px;
  }
  .btm-list-blk .btm-list-inner {
    padding-left: 30px;
  }
  .btm-list-blk .btm-list-inner {
    font-family: oswald;
    font-weight: bold;
  }
  .mobileStep {
    margin-top: 20px;
  }
  .pkLoader {
    z-index: 1;
    position: absolute;
    top: 40%;
    right: 40%;
  }

.MuiSvgIcon-root{
  color: #f2efed !important;
}
.MuiSvgIcon-root .MuiStepIcon-text{
fill: black !important
}
.MuiSvgIcon-root.Mui-active {
  border: none !important;
  fill: black !important ;
}
.MuiSvgIcon-root.Mui-active .MuiStepIcon-text{
  fill: white !important
  }
.MuiStepConnector-line{
  border-color: white !important;
}
}
@media (max-width: 480px) {
  .arrowIcon3 svg {
    height: 22px;
    margin-top: 0.5em;
  }
  .mobileStepHead {
    font-family: oswald;
    font-size: 22px;
    font-weight: 400;
  }
  .loader {
    z-index: 1;
    position: absolute;
    bottom: 50%;
    right: 40%;
  }
  .pkLoader {
    z-index: 1;
    position: absolute;
    top: 40%;
    right: 40%;
  }
}
@media (min-width: 568px) {
  .MuiStepIcon-text {
    fill: black !important;
  }
  .Mui-active > .MuiStepIcon-text {
    fill: white !important;
  }
}
@media (max-width: 1366px) {
  .pkLoader {
    z-index: 1;
    position: absolute;
    top: 38%;
    right: 48%;
  }
}
@media (max-width: 1440px) {
  .pkLoader {
    z-index: 1;
    position: absolute;
    top: 33%;
    right: 48%;
  }
}
@media (max-width: 375px) {
  .pkLoader {
    z-index: 1;
    position: absolute;
    top: 27% !important;
    right: 40%;
  }
}

@media (max-width: 360px) {
  .pkLoader {
    z-index: 1;
    position: absolute;
    top: 33%;
    right: 40%;
  }
}

@media (max-width: 414px) {
  .pkLoader {
    z-index: 1;
    position: absolute;
    top: 24%;
    right: 40%;
  }
}
@media (max-width: 411px) {
  .pkLoader {
    z-index: 1;
    position: absolute;
    top: 26%;
    right: 40%;
  }
}
.swal-footer{
  text-align: center !important;
}

.swal-button{
  background-color: #DCBA80 !important;
  color: white !important;
  border-radius: 0 !important;
}