.blackBar {
  background-color: #c5a475;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0;
  height: 50px;
  text-align: center;
}
.textButton {
  color: #c5a475;
  font-family: proxima-nova;
  font-size: 27px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftTextButton {
  color: #ffffff;
  font-family: proxima-nova;
  font-size: 27px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
}
.textButton:hover {
  cursor: pointer;
}
.textButtonDisabled {
  color:rgba(197, 164, 117, 0.3);
  font-size: 27px;
  font-weight: 600;
  font-family: proxima-nova;
}
.react-ripples {
  display: flex;
  align-items: center;
  height: 100%;
}
.textButtonDisabled:hover {
  cursor: not-allowed;
}
.grey {
  background-color: grey ;
  height: 50px;
}

.leftTextButton:hover {
  cursor: pointer;
}

.rightFooterButton{
  background-color: #ffffff;
  padding: 0 20px;
  margin-top: 5px;
  max-height: 40px;
  width: max-content;
}

.LeftTextButtonText {
  color: grey;
  background-color: #ffffff;
  padding: 0 15px;
}

@media only screen and (min-width: 768px) {

  .textButton {
    font-size: 27px;
    font-weight: 600;
    font-family: proxima-nova;
  }
  .textButton:hover {
    cursor: pointer;
  }
  .textButtonDisabled:hover {
    cursor: not-allowed;
  }
}
@media only screen and (max-width: 550px) {
  .blackBar {
    background-color: #c5a475;
    position: fixed;
    width: 1570px;
    bottom: 0px;
    height: 50px;
  }
  .textButton {
    font-family: proxima-nova;
    font-size: 27px;
    font-weight: 600;
  }
  .textButton:hover {
    cursor: pointer;
  }
  .textButtonDisabled {
    font-size: 22px !important;
    font-weight: 600;
    font-family: proxima-nova;
  }
  .textButtonDisabled:hover {
    cursor: not-allowed;
  }
  .mobileHalfButton {
    width: 820px;
  }
  .mobileSaveAndProceed {
    width: 0;
  }
  .mobileSaveMargin {
    margin-left: 450px;
  }
  .grey {
    width: 56.25vw;
    position: fixed;
    bottom: 0;
  }
  .emptyWidth {
    width: 0;
  }
  
  .leftTextButton {
    font-size: 18px;
    font-family: proxima-nova;
    /* margin-top: 3px !important; */
  }
  .leftTextButton:hover {
    cursor: pointer;
  }
  .rightFooterButton{ 
    padding: 5px 15px;
    margin-top: 0;
  }
  .mobileLeftMargin {
    margin-top: 5px;
    margin-right: 5px;
    font-size: 18px;
    font-family: proxima-nova;
  }
  .LeftTextButtonText {
    color: grey;
    background-color: #ffffff;
    padding: 3px 10px;
  }
}

@media only screen and (max-width: 400px) {
  .mobileLeftMargin {
    margin-top: 5px;
    margin-right: 5px;
    font-size: 18px;
    font-family: proxima-nova;
  }

  .LeftTextButtonText {
    color: grey;
    background-color: #ffffff;
    padding: 3px 7px;
  }

}

@media only screen and (max-width: 389px) {
  .LeftTextButtonText {
    color: grey;
    background-color: #ffffff;
    padding: 3px 5px;
  }

  .grey {
    width: 55vw;
    position: fixed;
    bottom: 0;
  }
}

@media (max-width: 639px) {
  .textButton,
  .leftTextButton,
  .textButtonDisabled {
    font-size: 22px;
  }
}
@media (max-width: 567px) {
  .blackBar {
    width: 100%;
  }
  .leftTextButton{
    margin-left: 6px;
  }
}
