.blackBar {
  background-color: #c5a475;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0;
  height: 50px;
  text-align: center;
}
.textButton,
.leftTextButton {
  color: #ffffff;
  font-family: proxima-nova;
  font-size: 27px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.textButton:hover {
  cursor: pointer;
}
.textButtonDisabled {
  color: #ffffff;
  font-size: 27px;
  opacity: 0.2;
  font-weight: 600;
  font-family: proxima-nova;
}
.react-ripples {
  display: flex;
  align-items: center;
  height: 100%;
}
.textButtonDisabled:hover {
  cursor: not-allowed;
}
.grey {
  background-color: grey;
  padding-top: 8px;
}

.leftTextButton:hover {
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .grey {
    background-color: grey;
    padding-top: 3px;
  }

  .textButton {
    color: #ffffff;
    background-color: #c5a475;
    font-size: 27px;
    font-weight: 600;
    font-family: proxima-nova;
  }
  .textButton:hover {
    cursor: pointer;
  }
  .textButtonDisabled:hover {
    cursor: not-allowed;
  }
}
@media only screen and (max-width: 550px) {
  .blackBar {
    background-color: #c5a475;
    position: fixed;
    width: 1570px;
    bottom: 0px;
    height: 50px;
  }
  .textButton {
    margin-top: -25px !important;
    color: #ffffff;
    background-color: #c5a475;
    font-size: 27px;
    font-weight: 500;
    font-family: proxima-nova;
  }
  .textButton:hover {
    cursor: pointer;
  }
  .textButtonDisabled {
    color: #ffffff;
    margin-top: -25px !important;
    font-size: 22px !important;
    font-weight: 600;
    font-family: proxima-nova;
    opacity: 0.2 !important;
  }
  .textButtonDisabled:hover {
    cursor: not-allowed;
  }
  .mobileHalfButton {
    width: 820px;
  }
  .mobileSaveAndProceed {
    width: 0;
  }
  .mobileSaveMargin {
    margin-left: 450px;
  }
  .grey {
    width: 220px;
    height: 50px;
    position: fixed;
    bottom: 0;
  }
  .emptyWidth {
    width: 0;
  }
  .leftTextButton {
    color: #ffffff;
    font-size: 18px;
    font-family: proxima-nova;
    /* margin-top: 3px !important; */
  }
  .leftTextButton:hover {
    cursor: pointer;
  }
  .mobileLeftMargin {
    margin-left: 100px;
    font-size: 18px;
    font-family: proxima-nova;
    margin-top: 2px !important;
  }
}
@media (max-width: 639px) {
  .textButton,
  .leftTextButton,
  .textButtonDisabled {
    font-size: 22px;
  }
}
@media (max-width: 567px) {
  .blackBar {
    width: 100%;
  }
}
